@model IEnumerable<FirebaseConMVC.Models.PacienteModelo>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .bodyView {
        background-image: url('../../Utilitarios/Imagenes/Med.jpg');
        margin: 0;
    }
</style>

<h2>Mi lista de pacientes imaginarios</h2>

<p>
    @Html.ActionLink("Crear nuevo paciente", "Crear", "Paciente", htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="bodyView" style="
    height: 570px;">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sintomas)
                </td>
                <td>

                    @Html.ActionLink("Editar", "Editar", "Paciente", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" }) |

                    @Html.ActionLink("Eliminar", "Eliminar", "Paciente", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>